.header-app{
    margin: 0;
    width: 100%;
    height: 20%;
  }

.img-cesar {
    width: 450px;
    height: 150px;
}

.slogan-text {
    font-family: 'AbibasMedium';
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 1px;

}